<style>
    .WB_cardwrap {
        margin: 0 0 10px 0;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
        border-radius: 2px;
    }

    .WB_cardwrapmap {
        margin-top: 20px;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
        border-radius: 2px;
    }
    .postrow{
        padding: 5px 20px;
        background-color: #f5f5f5;
        overflow: hidden;
        _width: 760px;
        font-size: 14px;
    }
    h2{
        font-size: 18px;
        background: #fff;
        padding-right: 20px;
        position: relative;
        padding-left: 15px;
        margin-top: 10px;
        padding: 5px;
        padding-top:10px;
        z-index: 2;
    }
    h3{
        font-size: 17px;
        padding-right: 20px;
        position: relative;
        padding-left: 15px;
        margin-top: 10px;
        padding: 5px;
        z-index: 2;
    }
    .detail_room {
        padding: 0 25px;
        background: #f5f5f5;
        border-radius: 5px;
        color: #666;
        font-size: 12px;
        margin-bottom: 20px;
        height: 160px;
        position: relative;
        z-index: 6;
    }
    .detail_room li {
        line-height: 31px;
        position: relative;
        border-bottom: solid 1px #fff;
        font-size: 14px;
    }
    .dview_icon_list li {
        float: left;
        margin-right: 33px;
        text-align: center;
    }
</style>

     
    <script src="https://cdn.bootcss.com/react/15.4.2/react.min.js"></script>
    <script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>    

<div id="example"> </div>
<div>
<div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img   style="margin: 0 auto;height: 500px" src="/my/static/v800x600_ChAFD1nof0iAdHYPAALgGzXRzpc975.JPG" data-holder-rendered="true">
          
        </div>
        <div class="item">
         <img  style="margin: 0 auto;height: 500px"  src="/my/static/v800x600_ChAFD1nof0KAWImUAAOY-JAeDXM522.JPG" data-holder-rendered="true">
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="item">
           <img  style="margin: 0 auto;height: 500px"  src="/my/static/v800x600_ChAFD1nof4OAYlbUAAJ1a85L7Rw275.JPG" data-holder-rendered="true">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-captions" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-captions" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="WB_cardwrap">
    <h2>基本信息</h2>
    <div class="postrow">
        <ul class="detail_room">
            <li><b></b>面积： 19.3㎡   </li>
            <!--<li><b></b>朝向： 南</li>-->
            <li><b></b>朝向： 南</li>
            <li><b></b>户型： 3室1厅
                <span class="icons">合</span>
            </li>
            <li><b></b>楼层： 03/18层</li>
            <li class="last"><b></b>交通：
                <span class="lineList lineListnone" id="lineList">
                  距9号线松江新城2039米
                </span>
            </li>
        </ul>
    </div>
    </div>

    <div class="WB_cardwrap">
    <h2>描述信息</h2>
    <div class="postrow">
        <h3 class="fb">
            <strong>编号：</strong> SHZRGY081772660_03</h3>
        <p><strong>周边：</strong>隔一条马路就是安信商业广场，美容养生馆一条街！步行10分钟直达开元地中海商业广场，以及"zui娱乐"地段——后街。安信有养生一条龙，开元地中海有奥特莱斯，后街有夜宵一条龙。生活，就要"zui娱乐"！</p>
        <br>
        <p><strong>交通：</strong>从小区南门出有公交站台，松江3路、5路、14路等多条公交干线。步行到九号线松江大学城地铁站需要25分钟，通往徐家汇、漕河泾等。小区北门出口都有摩拜单车、出行方便。小区地段交通便利，出行不愁！</p>
    </div>
    </div>

   <div class="WB_cardwrap">
    <h2>房屋配置</h2>
    <div class="postrow">
        <ul class="dview_icon_list">
            <li class="no"><i class="icon_view_04"></i><p>宽带</p></li>
            <li class="no"><i class="icon_view_04"></i><p>淋浴</p></li>
            <li class="no"><i class="icon_view_04"></i><p>厨房</p></li>
            <li class="no"><i class="icon_view_07"></i><p>洗衣机</p></li>
            <li class="no"><i class="icon_view_08"></i><p>冰箱</p></li>
            <li class="no"><i class="icon_view_03"></i><p>阳台</p></li>
            <li class="no"><i class="icon_view_06"></i><p>公卫</p></li>

        </ul>
    </div>
    </div>

</div>

<div class="WB_cardwrapmap">
<h2>地图</h2>
<div >
    <div  id="container" style="top:1100px;left:15px;padding-left:50px; width: 850px;height: 400px" ></div>
</div>
</div>
<script type="text/javascript">
function GetQueryString(name)
{
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)  return  unescape(r[2]); 
     return null;
}
 
// 调用方法
$.ajax({
        url:"/my/room/"+GetQueryString("liid"),
            type:"get",
            processData:false,
            contentType:false,
            success:function(data){
                debugger;
                console.log("over..");

                //for (var d in data) {
                //  data[d].liid="/my/room/"+data[d].liid;
                //  alert(data[d].courtname);
                //}
                var mdata =new Object();
                var mydata=new Array();
                mydata[0]=data;
                mdata.student = mydata;
                //var myTemplate = Handlebars.compile($("#table-template").html());
                //$('#tableList').html(myTemplate(mdata));
            }
        });

var map = new AMap.Map('container', {
        resizeEnable: true,
        zoom:11,
        center: [116.40, 39.91]
});

var marker = new AMap.Marker({
        icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
        position: [116.405467, 39.907761]
});
marker.setMap(map);

</script>