<!DOCTYPE html>
<html>
    <head>
        <title>
            li
        </title>
    </head>
    <style type="text/css">
       .WB_cardwrap {
	        margin: 0 0 10px 0;
	        margin-top: 10px ;
	        box-shadow: 0 0 2px rgba(0,0,0,0.2);
	        border-radius: 2px;
	        padding: 5px;

	    }
	   .WB_cardwrap .line{
			height: 60px;	
	   }
	   .WB_cardwrap .col-md-4{
			padding-left:20px;	
	   }
    </style>

    <body>
    <script id="table-template" type="text/x-handlebars-template">
     {{#each student}} 
        
	<div class="WB_cardwrap row">
		<div class="col-md-4" style="height: 180px">
			<img style="width: 100%;height: 100%;" src="http://pic.ziroom.com/house_images/g2/M00/49/DB/ChAFFVjX07uAKAerABr6EK_WFT8586.JPG" >
		</div>
		
		<div class="col-md-4">
			            <div class="txt">
                <h3>
                    <a class="t1" href="/z/vr/320982.html" target="_blank">
                      [{{areaname}}]
                    </a>
                </h3>
                <h4>
                    <a href="/z/vr/320982.html" target="_blank">
                     [{{courtname}}]
                    </a>
                </h4>
                <div class="detail">
                <mark>
                    <p>
                        <span>
                            {{acreage}}㎡
                        </span>
                        |
                        <span>
                            {{myfloor}}/{{floor}}层
                        </span>
                        |
                        <span>
                            {{roomnum}}室{{tingnum}}厅
                        </span>
                        <span class="icons">
                            合
                        </span>
                    </p>
				</mark>
                </div>
                <p class="room_tags clearfix">
                    <span class="subway">
                        地铁10分钟
                    </span>
                    <span class="balcony">
                        独卫
                    </span>
                    <span class="subway">
                        无供暖
                    </span>
                </p>
            </div> 

		</div>
		<div class="col-md-4">
			     <p class="price line">
                   <h2> ￥{{price}} 
                    <span class="gray-6">
                        (每月)
                    </span>
                    </h2>
                </p>
                <p class="more line">
                    <a href="/my/roomm?liid={{liid}}" target="_blank">
                        查看更多
                    </a>
                </p>
		</div>
	</div>
    {{/each}}   
    </script>
    <div id="tableList"> </div>
    <script type="text/javascript" src="static/views/home/li.js"></script>
    </body>
</html>