<style>
    .nav>li>a:focus, .bs-docs-sidebar .nav>li>a:hover {
        padding-left: 19px;
        color: #563d7c;
        text-decoration: none;
        background-color: transparent;
        border-left: 1px solid #563d7c;
    }
</style>
<nav style="margin-top: 20px;" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
    <ul class="nav bs-docs-sidenav">

        <li class="">
            <a href="#overview">基本信息</a>
        </li>
        <li class="">
            <a href="#overview">描述信息</a>
        </li>
        <li class="">
            <a href="#grid">配置信息</a>
            <!--
            <ul class="nav">
                <li class="active"><a href="#grid-intro">简介</a></li>
            </ul>
            -->
        </li>
        <li class="">
            <a href="#overview">地图信息</a>
        </li>

        <li class="" style="margin-top: 30px;">
            <a href="#overview">返回头部</a>
        </li>

   

    </ul>

</nav>